.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: 50px auto 50px;
}
.mgt-20{
    margin-top : 20px;
}

.mgt-30{
	margin-top : 30px;
}

span.bold {
	font-weight: bold;
}

span.red{
	color: #FF0000;
}

span.under{
	background:linear-gradient(transparent 70%, #FFFF00 0%);
}
.text {
	font-weight: bold;
	display: inline-block;

}

@media screen and (max-width:480px) {

	.card{
	width: 100%;

	}

	h {
		width: 100%;
		margin: 0px 0 10px 0;
	}

* {
	float: none;
	position: static;
}


.card-text{
	text-align: center;
}


.text {
	font-weight: bold;
	display: inline-block;

}
}




