<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>SQ.アドバイス</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"  href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<h1>ストレス対策へのアドバイス</h1>

<p>ストレス対策のアドバイスの前に<br>
よくある間違ったストレス解消法として、</p>

<ul>
<li>酒</li>
<li>やけ食い</li>
<li>たばこ</li>
<li>ギャンブル</li>
<li>テレビゲーム</li>
<li>ネットサーフィン</li>
<li>映画やテレビ</li>
</ul>

<p>これらの方法はストレス対策としては,<br>
一時しのぎであり、効果は低いと言われてます。</p>

<p>アメリカ心理学会APAより効果があるストレス解消方が紹介されて<br>
おり参考にしました。</p>

<p>現在の、ストレスの原因をできる範囲内で、緩和、回避、軽減、排除しつつ</p>

<p>以下の行動をなにか1つでもよいので試してみてください。</p>

<ul>
<li>エクササイズ、運動</li>
<li>瞑想、ヨガ、呼吸法</li>
<li>読書</li>
<li>散歩</li>
<li>良き友人、家族と過ごす。</li>
<li>マッサージ</li>
<li>自然に触れる</li>
<li>誰かを助ける</li>
<li>誰かに相談する</li>
<li>栄養の質が高い食事をする。</li>
</ul>

<p>私のオススメは散歩程度の軽い運動です！<br>
特に自然に触れるところを軽く10分散歩するだけでも体が軽くなった感じがします。</p>

<p>もっと詳しくストレスチェックしたい！</p>
<p>詳しくストレスについて知りたい！という方は</p>
<p>厚生労働省のページ、心の耳APAアメリカ心理学会</p>
<p>を参考にしてください</p>

<p>このアプリを作るきっかけと参考にしています。</p>

 <div>
	<form action="/sqtop" method="get">
		<p style="margin-top: 30pt;">
			<button class="btn btn-primary" type="submit">最初に戻る</button>
		</p>
	</form>
</div>

</body>
</html>