<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>SQ.出題！</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap base -->
<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" type="text/css">

<!-- default base -->
<!-- <link th:href="@{../css/default.css}" rel="stylesheet" type="text/css">
 -->
<!-- question base -->
<link th:href="@{../css/question.css}" rel="stylesheet" type="text/css">


</head>
<body>

	<div class="container">
		<div class="row">
			<div class="card text-center">
				<div class="card-body">
				<h5>
					<span  th:text="${totalQuestionNumber}" id="totalQuestionNumber" class="mgr-10"></span>
					<span  th:text="${nowQuestionNumber}" id="nowQuestionNumber"></span>
				</h5>

					<h1 class="card-title" >
						<span id="qestionText" th:text="${nowQuestion.question}"></span>
					</h1>

					<form action="#" th:action="@{/sqtop/questions/answer}"
						method="post" class="mgt-60">
						<input type="hidden" id="nowQuestionId" name="id" th:value="${nowQuestion.id}">
							<p>
							<button type="submit" class="btn btn-success btn-lg w-200px" id="yesButton" name="answer"
								value="1">
								<span id="yesText" th:text="${nowQuestion.choiceY}"></span>
							</button>

							<button type="submit" class="btn btn-secondary btn-lg w-200px" id="noButton" name="answer"
								value="0">
								<span id="noText" th:text="${nowQuestion.choiceN}"></span>
							</button>
							</p>
					</form>
				</div>
			</div>

		</div>
	</div>
	<!-- Support module -->
	<script type="text/javascript" th:src="@{../js/jquery-3.6.0.js}"></script>
	<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
	<!-- Bootstrap base -->
	<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

</body>
</html>