<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>SQ.Top</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"  href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<h1>超簡易版！心身ストレスチェック</h1>
<form action="/questions/start" method="post">
    <p>
        <button  class="btn btn-primary">出題開始</button>
    </p>
  </form>

</body>
</html>